* {
    padding: 0;
    margin-top: 10px;
    body {
        #container {
            .header {
                text-align: center;
                #inner-header {
                    #logo {
                        font-size: 80px;
                        background: url(../images/adventure.png) center 70px no-repeat;
                        background-size: 700px;
                        height: 550px;
                        a {
                            text-decoration: none;
                            color: #000000;
                            background-color: yellow;
                            opacity: 0.8;
                        }
                    }                
                }
                nav {
                    ul {
                        display: flex;
                        justify-content: space-around;
                        list-style: none;
                        margin-top: 20px;
                        li {
                            a {
                                text-decoration: none;
                                color: #000000;
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
            #content {
                #inner-content {
                    #main {
                        article {
                            header.article-header {
                                display: none;
                                .byline {
                                    display: none;
                                }
                            }
                            &#post-5 {
                                .entry-content {
                                    h3 {
                                        font-size: 30px;
                                    }
                                }
                            }
                            &#post-9 {
                                margin-top: 80px;
                                .entry-content {
                                    height: 1000px;
                                    h1 {
                                        font-size: 50px;
                                    }
                                    p {
                                        text-align: center;
                                        line-height: 30px;
                                        font-size: 20px;
                                    }
                                }
                            }
                            &#post-16 {
                                .entry-content {
                                    margin: 20px;
                                    p {
                                        line-height: 30px;
                                        font-size: 20px;
                                    }
                                }
                            }

                            section.entry-content {
                                line-height: 20px;
                                text-align: justify;
                            }
                            .article-footer{
                                display: none;
                            }
                        }
                    }
                    #sidebar1 {
                        #recent-posts-3 {
                            height: 500px;
                            .widgettitle {
                                display: none;
                            }
                            ul {
                                height: 100%;
                                display: flex;
                                justify-content: space-around;
                                align-items: center;
                                li {
                                    list-style-type: none;
                                    a {
                                        text-decoration: none;
                                        color: #000000;
                                        font-weight: bold;
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            background-color: bisque;
            height: 120px;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    }
}